* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

#root {
  margin: auto;
}

.card {
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 5px;
}

.dashboard {
  width: 80rem;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 10px;
  height: 50rem;
}

h1 {
  margin-bottom: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 7rem;
}

.streak {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.bento {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 30rem;
}

.left-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid yellowgreen;
}

.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid yellowgreen;
}

.right-grid .card {
  flex-grow: 1;
}

.metronome {
 flex-grow: 1;
}